{%
    props {
        id: str_random(10),
        type: 'checkbox',
        class: type == 'checkbox' ? 'rounded-sm' : 'rounded-full',
        label: null,
        comment: null,
    }
%}

<div class="group flex items-start gap-x-2">
    <div class="grid shrink-0 items-center mt-0.5">
        <input
            id="{{ id }}"
            type="{{ type }}"
            {{
                attributes.merge({
                    class: '
                        appearance-none  size-4 col-start-1 row-start-1
                        border border-gray-300 bg-white
                        checked:border-primary checked:bg-primary
                    ' ~ class,
                    type: type,
                })
            }} />
        <div class="pointer-events-none col-start-1 row-start-1 self-center justify-self-center stroke-white fill-white">
            {% if type == 'radio' %}
                <svg class="size-3" viewBox="0 0 14 14" fill="none">
                    <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100"></path>
                </svg>
            {% else %}
                <svg class="size-3" viewBox="0 0 14 14" fill="none">
                    <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100"></path>
                </svg>
            {% endif %}
        </div>
    </div>
    
    <label for="{{ id }}" class="block font-medium text-sm/5 text-gray-900">{{ label|raw }}</label>
    {% if comment %}
        <p class="text-sm/5 text-gray-500">{{ comment }}</p>
    {% endif %}

</div>
