{%
    props {
        id: str_random(10),
        type: 'text',
        label: null,
        prefix: null,
        suffix: null,
        comment: null,
        validation: null,
        fieldname: label|default(name),
    }
%}

<div class="group flex flex-col text-gray-900">
    {% if label %}
        <label class="block text-sm font-medium" for="{{ id }}">{{ label }}</label>
    {% endif %}
    <div
        class="
        flex flex-row gap-0 w-full rounded-md bg-white mt-2 text-sm 
        outline-1 -outline-offset-1 outline-gray-300 
        placeholder:text-gray-400 
        focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary
        has-[[aria-invalid='true']]:outline-error
    ">
        {% if prefix %}
            <span class="border-r-1 border-gray-300 p-2">{{ prefix|raw }}</span>
        {% endif %}
        <input {{ attributes.merge({ class: 'w-full p-2 outline-none', type: type, id: id }) }} />
        {% if suffix %}
            <span class="border-l-1 border-gray-300 p-2">{{ suffix|raw }}</span>
        {% endif %}
    </div>
    {% if comment %}
        <p class="mt-2 text-sm text-gray-500">{{ comment }}</p>
    {% endif %}
    <p class="mt-2 text-sm text-error" data-validate-for="{{ name }}" data-validate-name="{{ fieldname }}">{{ validation }}</p>
</div>
