{%
    props {
        id: str_random(10),
        label: null,
        comment: null,
        validation: null,
        placeholder: null,
        options: {},
        selected: null,
        fieldname: label|default(name),
    }
%}

<div class="group flex flex-col text-gray-900">
    {% if label %}
        <label class="mb-2 block text-sm font-medium text-gray-900" for="{{ id }}">{{ label }}</label>
    {% endif %}
    <select data-lenis-prevent
        {{
            attributes.merge({ class: '
                w-full bg-white p-2 border-none text-sm rounded-md
                outline-1 -outline-offset-1 outline-gray-300
                open:outline-2 open:-outline-offset-2 open:outline-primary
                invalid:outline-error
                [&[aria-invalid="true"]]:outline-error
            ', id: id })
        }}>
        <button type="button" class="pointer-events-none w-full flex items-center justify-between gap-x-2">
            <selectedcontent></selectedcontent>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="size-4 shrink-0">
                <path d="m6 9 6 6 6-6"></path>
            </svg>
        </button>
        {% if placeholder %}
            <option value="" {% if not selected %}selected{% endif %}>{{ placeholder }}</option>
        {% endif %}
        {% for key, option in options %}
            <option value="{{ key }}" {% if key == selected %}selected{% endif %}>{{ option|raw }}</option>
        {% endfor %}
    </select>
    {% if comment %}
        <p>{{ comment }}</p>
    {% endif %}
    <p class="mt-2 text-sm text-error" data-validate-for="{{ name }}" data-validate-name="{{ fieldname }}">{{ validation }}</p>
</div>
