<header id="header" class="fixed top-0 left-0 z-50 w-full bg-white border-b border-gray-200" data-turbo-permanent>
    <div class="container-md">
        <div class="h-header-h flex flex-row items-center justify-between">
            <a class="logo" data-cursor href="{{ 'home'|page }}"> Logo </a>
            <nav class="flex flex-row items-center">
                <ul>
                    <li>
                        <button @click="menuOpen = !menuOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
