<header id="header" class="fixed top-0 left-0 z-50 w-full bg-white border-b border-black" data-turbo-permanent>
    <div class="container-md">
        <div class="h-header-h flex flex-row items-center justify-between">
            <a class="logo" data-cursor href="{{ 'accueil'|page }}">
                Logo
            </a>
            <nav class="flex flex-row items-center">
                <ul>
                    <li><a href="{{ 'contact'|page }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>