{% set type = type|default('checkbox') %}
{% set tag = (options|length > 1) ? 'fieldset' : 'div' %}

<{{ tag }} class="fieldset py-0 gap-2">
    {% if label %}
        <legend class="fieldset-legend">{{ label }}</legend>
    {% endif %}

    <div class="{{ parentClass|default('field') }} validator">
        {% for key, option in options %}
            <label class="label">
                <input 
                    class="{{ class|default(type) }}"
                    type="{{ type }}"  
                    name="{{ (type == 'checkbox' ? name ~ '[]' : name) }}" 
                    value="{{ key }}" 
                    {% if key == checked %}checked="checked"{% endif %}
                    {% placeholder attributes %}
                />
                {{ option }}
            </label>
        {% endfor %}
    </div>

    {% if comment %}
        <div class="label">{{ comment }}</div>
    {% endif %}

    <p class="validator-hint" data-validate-for="{{ name }}">{{ validation }}</p>
</{{ tag }}>

