<fieldset class="field-checkboxes">
    {% if label is not same as false %}
        <legend class="field-legend">{{ label|default(name)|_ }}</legend>
    {% endif %}
    <div class="{{ flex }}">
        {% for key, item in items %}
            {% partial '_forms/checkbox' label=item name=name~'[]' value=(key matches '/^\\d+$/' ? item : key) loop=loop %}
        {% endfor %}
    </div>
    {% if comment %}
        <div class="field-comment">{{ comment|raw }}</div>
    {% endif %}
    <div data-validate-for="{{ name|replace({' ':'_'}) }}"></div>
</fieldset>