<div class="field field-radio {% if switch %}field-switch{% endif %} {{ class }}">
    <input 
        type="radio" 
        id="{{ id|default('field-'~name|slug) }}-{{ loop.index|default(1) }}"
        class="field-input"
        name="{{ name }}" 
        value="{{ value|default(1) }}" 
        {% for key, value in request %}
            {{ key }}="{{ value }}"
        {% endfor %}
        {% for key, value in alpine %}
            {{ key }}="{{ value }}"
        {% endfor %}
        {% if disabled %}disabled{% endif %}
        {% if default %}checked{% endif %}
    >
    <label class="field-label" for="{{ id|default('field-'~name|slug) }}-{{ loop.index|default(1) }}">
        <span></span>
        {{ body|default(label)|default(name)|_|raw }}
    </label>
</div>