<fieldset class="fieldset gap-2">
    <legend class="fieldset-legend">{{ label }}</legend>
    {% for key, option in options %}
        <label class="label">
            <input 
                class="radio validator"
                type="radio"  
                name="{{ name }}" 
                value="{{ key }}" 
            />
            {{ option }}
        </label>
    {% endfor %}
    {% if hasPlaceholder('comment') %}
        <div class="label">{% placeholder comment %}</div>
    {% endif %}

    <p class="validator-hint" data-validate-for="{{ name }}">{% placeholder validation %}</p>
</fieldset>
