{% set id = (id) ? id : (label ? 'field-' ~ name|slug : null) %}

<div class="field">
    {% if label %}
        <label class="label" for="{{ id }}">{{ label }}</label>
    {% endif %}

    <select 
        class="select validator w-full" 
        name="{{ name }}"
        {% if id %}id="{{ id }}"{% endif %}
        {% if required %}required{% endif %}
        {% placeholder attributes %}
    >
        {% if placeholder %}
            <option value="" disabled selected>{{ placeholder }}</option>
        {% endif %}
        {% for key, option in options %}
            <option value="{{ key }}" {% if key == value %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
    </select>

    {% if hasPlaceholder('comment') %}
        <div class="label">{% placeholder comment %}</div>
    {% endif %}
    <p class="validator-hint" data-validate-for="{{ name }}">{% placeholder validation %}</p>
</div>
