{% set id = (id) ? id : (label ? 'field-' ~ name|slug : null) %}

<div class="field">
    {% if label %}
        <label class="label" for="{{ id }}">{{ label }}</label>
    {% endif %}

    <textarea
        class="textarea validator w-full"
        name="{{ name }}" 
        placeholder="{{ placeholder }}"
        {% if id %}id="{{ id }}"{% endif %}
        {% if required %}required{% endif %}
        {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
        {% if pattern %}pattern="{{ pattern }}"{% endif %}
        {% placeholder attributes %}
    >{{ value }}</textarea>

    {% if hasPlaceholder('comment') %}
        <div class="label">{% placeholder comment %}</div>
    {% endif %}
    <p class="validator-hint" data-validate-for="{{ name }}">{% placeholder validation %}</p>
</div>