<section class="h-dvh-h flex flex-col justify-center pb-header-height">
    <div class="container mx-auto px-8 flex flex-col items-center gap-4 text-center">
        <div class="h1 font-bold">
            {% placeholder code %}
        </div>
        <h1 class="h2">
            {% placeholder titre %}
        </h1>
        <p class="text-md">
            {% placeholder message %}
        </p>
        <div class="flex flex-col sm:flex-row gap-4 justify-center">
            {% placeholder boutons %}
        </div>
    </div>
</section>