[viewBag]

==
<?php
function onStart()
{
    // Récupérer les entrées
    $records = \Tailor\Models\EntryRecord::inSection('Popups')->applyVisibleFrontend();
    $this['records'] = $records->get();

    // S'occuper du cookie
    $cookie = Cookie::get('popup_closed');
    $lifetime = 24;
    if ($cookie) {
        $now = \Carbon\Carbon::now()->toDateTimeString();
        $cookie = \Carbon\Carbon::parse($cookie);
        $lifetime = $cookie->addHours((int) $lifetime)->toDateTimeString();
        $this['cookie'] = $now < $lifetime;
    }
}

function onClosePopup()
{
    // On enregistre le cookie
    Cookie::queue('popup_closed', \Carbon\Carbon::now()->toDateTimeString(), 525600);
}
?>
==
{% if not cookie %}
    {% for record in records %}
        <dialog x-init="$el.showModal()" id="popup_{{ record.id }}" class="modal">
            <div class="modal-box p-0 max-w-sm max-h-[50vh] overflow-y-auto" data-lenis-prevent>
                <div class="sticky top-0 z-10 h-0 overflow-visible flex justify-end">
                    <button
                        class="btn btn-sm btn-circle mt-2 mr-2"
                        onclick="this.closest('dialog').close()"
                        data-request="onClosePopup"
                        data-request-progress-bar="false"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                        >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2">
                    {% if record.media %}
                        <div class="media sm:sticky sm:top-0 sm:h-[50vh] overflow-hidden">
                            {% if record.media.content_type in ['video/mp4'] %}
                                <video class="w-full h-full object-cover" controls src="{{ record.media.path }}"></video>
                            {% else %}
                                {% partial 'image' image = record.media width = 1000 class="w-full h-full object-cover" %}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if record.content %}
                        <div class="texte p-6 content-center">
                            <div class="text-h2 mb-[0.5em]">{{ record.title }}</div>
                            {{ record.content|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <button
                class="modal-backdrop"
                onclick="this.closest('dialog').close()"
                data-request="onClosePopup"
                data-request-progress-bar="false"
            ></button>
        </dialog>
    {% endfor %}
{% endif %}
