@layer base {

    /* Base */
    html {
        scroll-padding-top:var(--spacing-header-h);
    }

    body {
        @apply font-md text-md;
    }

    [x-cloak] { display: none !important; }
    
    /* Texts */
    h1,
    .h1 {
        @apply font-h1 text-h1 font-bold;
    }

    h2,
    .h2 {
        @apply font-h2 text-h2 font-bold;
    }

    h3,
    .h3 {
        @apply font-h3 text-h3 font-bold;
    }

    h4,
    .h4 {
        @apply font-h4 text-h4 font-bold;
    }

    /* Medias */
    svg,
    img,
    video {
        @apply block max-w-full h-auto
    }
    
    /* Forms */
    [data-validate-for] {
        @apply hidden;
    }

    [data-validate-for].jax-visible {
        @apply block
    }

    file-pond {
        --default-color: var(--color-gray-900);
        --default-border: 1px dashed var(--color-gray-300);
        --default-border-radius: var(--radius-md);
        --default-background-color: var(--color-gray-100);
        --default-padding: 1rem;
        padding: 0.5rem;
    }

    select {
        appearance: base-select;
    }

    select::picker(select) {
        appearance: base-select;
        @apply border-1 border-gray-300
    }

    select::picker-icon {
        display: none;
    }

    select option {
        @apply p-2;
    }

    select option:hover {
        @apply bg-gray-100;
    }

    select option:checked {
        @apply text-primary;
    }

    select option[value=""],
    select:has(option[value=""]:checked) selectedcontent {
        @apply text-gray-400;
    }

    button {
        @apply cursor-pointer;
    }

}
