@import "tailwindcss";

@theme {

    /* Breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    /* Spacing */
    --spacing-header-height: 80px;

    /* Colors */
    --color-field-normal: #aaa;
    --color-field-active: #000;
    --color-field-error: #f00;
}

@source "../../layouts/**/*.htm";
@source "../../pages/**/*.htm";
@source "../../partials/**/*.htm";
@source "../../content/**/*.htm";
@source "../../../../plugins/**/*.htm";


[data-validate-for] {
    @apply hidden text-field-error;
}
[data-validate-for].jax-visible {
    @apply block;
}