[sitePicker]

[TinyMCE editor]

[fancybox popup]
handle = "Popups"
cookie = 24
==
<!DOCTYPE html>
<html lang="{{ this.site.hard_locale }}" prefix="og: http://ogp.me/ns#">
<head>
    {# Seo #}
    {% partial '_layout/meta' %}
    {# Css #}
    <link href="{{ ['assets/vendor/lenis/lenis.min.css', 'assets/vendor/hamburgers/hamburgers.min.css']|theme }}.css" rel="stylesheet">
    <link href="{{ ['assets/css/tailwind.css', 'assets/css/styles.css']|theme }}.css" rel="stylesheet">
    {% styles %}
    {# Js #}
    <script defer src="{{ ['@framework.bundle', 'assets/js/init.js']|theme }}.js"></script>
    <script defer src="{{ ['assets/vendor/lenis/lenis.min.js', 'assets/vendor/gsap/gsap.min.js', 'assets/vendor/gsap/ScrollTrigger.min.js']|theme }}.js"></script>
    <script defer src="{{ ['assets/vendor/alpine/collapse.min.js', 'assets/vendor/alpine/mask.min.js', 'assets/vendor/alpine/anchor.min.js', 'assets/vendor/alpine/alpine.min.js']|theme }}.js"></script>
    {% scripts %}
    <script defer src="{{ ['assets/js/core.js', 'assets/js/custom.js']|theme }}.js"></script>
</head>

<body id="page-{{ this.page.id }}" x-data="{ menuOpen: false }" x-bind:class="menuOpen == true ? 'menu-open' : ''">
    <div id="page">
        {% partial '_layout/header' %}
        <main id="main" class="pt-header-height">
            {% page %}
        </main>
        {% partial '_layout/footer' %}
        {% partial '_layout/popup' %}
    </div>
    {% placeholder frontEditor %}
</body>
</html>