[sitePicker]

[TinyMCE editor]
==
<!DOCTYPE html>
<html lang="{{ this.site.hard_locale }}" prefix="og: http://ogp.me/ns#">
<head>
    {# Seo #}
    {% partial 'layout/meta' %}
    {% partial 'layout/assets' %}
</head>

<body id="page-{{ this.page.id }}" x-data="{ menuOpen: false }" x-bind:class="menuOpen == true ? 'menu-open' : ''">
    <div id="page">
        {% partial 'layout/header' %}
        <main id="main" class="mt-header-h">
            {% page %}
        </main>
        {% partial 'layout/footer' %}
        {% ajaxPartial 'layout/popup' %}
    </div>
    {% placeholder frontEditor %}
</body>
</html>