[sitePicker]

[TinyMCE editor]
==
<!DOCTYPE html>
<html lang="{{ this.site.hard_locale }}" prefix="og: http://ogp.me/ns#">
<head>
    {# Seo #}
    {% partial 'layout/meta' %}
    {# Css #}
    <link href="{{ ['assets/fonts/inter/font.css']|theme }}.css" rel="stylesheet">
    <link href="{{ ['node_modules/lenis/dist/lenis.css']|theme }}.css" rel="stylesheet">
    <link href="{{ ['node_modules/@fancyapps/ui/dist/fancybox/fancybox.css']|theme }}.css" rel="stylesheet">
    {% styles %}
    <link href="{{ ['assets/css/tailwind.css']|theme }}.css" rel="stylesheet">
    {# Js #}
    <script defer src="{{ ['@framework.bundle']|theme }}.js"></script>
    <script defer src="{{ ['node_modules/lenis/dist/lenis.min.js']|theme }}.js"></script>
    <script defer src="{{ ['node_modules/gsap/dist/gsap.min.js', 'node_modules/gsap/dist/ScrollTrigger.min.js']|theme }}.js"></script>
    <script defer src="{{ ['node_modules/@alpinejs/collapse/dist/cdn.min.js', 'node_modules/@alpinejs/mask/dist/cdn.min.js', 'node_modules/@alpinejs/anchor/dist/cdn.min.js', 'node_modules/alpinejs/dist/cdn.min.js']|theme }}.js"></script>
    <script defer src="{{ ['node_modules/@fancyapps/ui/dist/fancybox/fancybox.umd.js']|theme }}.js"></script>
    <script defer src="{{ ['node_modules/@idevgames/cursor-js/src/cursor.js']|theme }}.js"></script>
    {% scripts %}
    <script defer src="{{ ['assets/js/core.js', 'assets/js/custom.js']|theme }}.js"></script>
</head>

<body id="page-{{ this.page.id }}" x-data="{ menuOpen: false }" x-bind:class="menuOpen == true ? 'menu-open' : ''">
    <div id="page">
        {% partial 'layout/header' %}
        <main id="main" class="mt-header-h">
            {% page %}
        </main>
        {% partial 'layout/footer' %}
        {% ajaxPartial 'layout/popup' %}
    </div>
    {% placeholder frontEditor %}
</body>
</html>