url = "/contact"
layout = "default"
title = "Contact"
is_hidden = 0

[uploadForm contact]
group = "Formulaire de contact"
rules[Email] = "required|email"
rules[Checkbox] = "required"
rules[Radio] = "required"
rules[Select] = "required"
rules[Message] = "required"
rules[files] = "required"
custom_attributes[files] = "fichiers"
messages_success = "Votre formulaire a été envoyé avec succès"
messages_errors = "Il y a eu des erreurs dans votre formulaire"
mail_enabled = 1
mail_subject = "[{{ record.date }}] - {{ form.Prénom }} {{ form.Nom }} - Formulaire de contact"
mail_recipients[] = "alexandre@publipresse.fr"
mail_uploads = 1
mail_resp_enabled = 1
mail_resp_field = "Nom"
reset_form = 1
redirect = "/merci"
feedback_mode = "inline"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 1
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "d/m/Y"
save_in_session = 1
uploader_enable = 1
uploader_locale = "fr-fr"
maxFiles = 5
maxFileSize = "2MB"
maxTotalSize = "5MB"
fileTypes[application/pdf] = "pdf"
fileTypes[application/zip] = "zip"
fileTypes[image/png] = "png"
fileTypes[image/jpeg] = "jpg"
==
<section class="py-8">
    <div class="container-md">
        {{ form_ajax('contact::onFormSubmit', { validate: true, files: true }) }}
            {% set options = {opt1: 'Option 1', opt2: 'Option 2', opt3: 'Option 3'} %}
            <div class="flex flex-col gap-y-6">

                {% partial 'ui/input' name="Email" type="text" label="Email" placeholder="Votre adresse email" %}

                {% partial 'ui/textarea' name="Message" label="Message" placeholder="Message" %}

                <fieldset class="group flex flex-col gap-y-1">
                    {% for key, option in options %}
                        {% partial 'ui/checkbox' name="Checkbox[]" type="checkbox" checked = (key == 'opt3') %}
                    {% endfor %}
                    <p data-validate-for="Checkbox"></p>
                </fieldset>

                <fieldset class="group flex flex-col gap-y-1">
                    {% for key, option in options %}
                        {% partial 'ui/checkbox' name="Radio" type="radio" checked = (key == 'opt1') %}
                    {% endfor %}
                    <p data-validate-for="Radio"></p>
                </fieldset>

                {% partial 'ui/select' name="Select" label="Select" options = options placeholder = "Choisissez une option" %}

                {% partial 'ui/filepond' %}

                {# {% partial 'ui/checkbox' name="Checkbox" type="radio" checked = ['opt1'] options = options %} #}
                {#
                {% partial '_forms/select' name="Select" label="Select" options = options placeholder = "Choisissez une option" selected = 'opt2' %}
                {% partial '_forms/check' parentClass="flex flex-row gap-x-4" type="radio"name="Radio" label="Radio" options = options comment = "ok" %}
                {% partial '_forms/check' class="toggle" type="checkbox" name="Checkboxes" options = options comment = "ok" checked = "opt2" %}
                {% partial '_forms/filepond' %}
                {% partial '_forms/recaptcha' %}
                #}
                <button class="btn" type="submit" data-attach-loading>{{ "Envoyez un message"|_ }}</button>
                <div id="{{ contact.alias }}_forms_flash"></div>
            </div>
        {{ form_close() }}
    </div>
</section>