url = "/contact"
layout = "default"
title = "Contact"
is_hidden = 0

[submission contact]
handle = "Forms\Contact"

==

<section class="py-8">
    <div class="container-md">

        <form data-request="contact::onFormSubmit" data-request-redirect="{{ 'core/merci'|page }}" data-request-validate data-request-files>
            {% set options = {opt1: 'Option 1', opt2: 'Option 2', opt3: 'Option 3'} %}
            <div style="display:none">
                <input type="text" name="_oc_hp" value="" autocomplete="off" tabindex="-1">
            </div>
        
            <div class="space-y-6">


                {% partial 'ui/input' name="firstname" type="text" label="Prénom" placeholder="Votre prénom" %}
                {% partial 'ui/input' name="lastname" type="text" label="Nom" placeholder="Votre nom" %}
                {% partial 'ui/input' name="email" type="text" label="Email" placeholder="Votre adresse email" %}
                {% partial 'ui/input' name="phone" type="text" label="Téléphone" placeholder="Votre numéro de téléphone" %}

                {% partial 'ui/textarea' name="message" label="Message" placeholder="Message" %}

                {% partial 'ui/file' name="files[]" type="file" multiple=true label="Fichiers" %}

                <!--
                <fieldset class="group flex flex-col gap-y-2">
                    {% for key, label in options %}
                        {% partial 'ui/checkbox' name="Checkbox[]" type="checkbox" label = label checked = (key == 'opt3') %}
                    {% endfor %}
                    <p class="mt-2 text-sm text-error" data-validate-for="Checkbox"></p>
                </fieldset>

                <fieldset class="group flex flex-col gap-y-2">
                    {% for key, label in options %}
                        {% partial 'ui/checkbox' name="Radio" type="radio" label = label checked = (key == 'opt1') %}
                    {% endfor %}
                    <p class="mt-2 text-sm text-error" data-validate-for="Radio"></p>
                </fieldset>

                {% partial 'ui/select' name="Select" label="Select" options = options placeholder = "Choisissez une option" %}
                -->
                
                {% ajaxPartial 'ui/recaptcha' action='contact' %}

                <div class="flex justify-end">
                    <button class="btn btn-primary ml-auto" type="submit" data-attach-loading>{{ "Envoyez un message"|_ }}</button>
                </div>
                <div id="{{ contact.alias }}_forms_flash"></div>
            </div>
        </form>

    </div>
</section>
